@font-face {
  font-family: 'Microsoft YaHei';
  font-style: normal;
  font-weight: normal;
  src: url('../font/msyh.ttf');
}

body {
  font-family: 'Microsoft YaHei';
}

img {
  width: 800px;
  height: 300px;
}

.red-font {
    color: #ff0000;
}
