@font-face {
  font-family: 'Microsoft YaHei';
  font-style: normal;
  font-weight: normal;
  src: url('../font/msyh.ttf');
}

body {
  font-family: 'Microsoft YaHei';
  min-height: 914px;
  background-image: url("../img/watermark.png");
  background-repeat: repeat-y;
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
}

img {
  width: 800px;
  height: 300px;
}

.red-font {
  color: #ff0000;
}
